<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quill</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">

    {% block head %}{% endblock %}
</head>

<body>

<header>
    <div class="navbar">
        <div class="nav-logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}"
                 alt="Quill logo"
                 class="logo-img">
        </div>

        <div class="nav-elements hover-feature">
            <div class="nav-home hover-feature">
                <a href="{{ url_for('index') }}">Home</a>
            </div>

            <div class="nav-about hover-feature">
                <a href="{{ url_for('Aboutus') }}">About Us</a>
            </div>

            <div class="nav-about hover-feature">
                <a href="{{ url_for('Contact') }}">Contact</a>
            </div>
            
            <div class="nav-signup hover-feature">
                <a href="{{ url_for('signup') }}">Sign Up</a>
            </div>
        </div>
    </div>
</header>


{% block body %}{% endblock %}

<footer>
    <div class="footer-panel">
        <div class="social-media">
            <h3>Stay Connected</h3>
            <div class="icons">
                <i class="fa-brands fa-facebook" style="color: #a389f4;"></i>
                <i class="fa-brands fa-instagram" style="color: #a389f4;"></i>
                <i class="fa-brands fa-x-twitter" style="color: #a389f4;"></i>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
