{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
{% endblock %}
{% block body %}

<section class="hero">
    <div class="left-element">
        <h1 id="welcome"> Welcome to Quill! </h1>
        <p id="note"> Lets make studying fun and easy </p>

        <div class="get-started" onclick="location.href='{{ url_for('signup') }}'">
            <p>Sign In</p>
        </div>
    </div>

    <img src="{{ url_for('static', filename='images/girl.png') }}"
         alt="Girl img"
         class="girl-img">
</section>

<section class="features">
    <h2 id="features-heading"> Boost your productivity with quill!</h2>
    <p id="features-body"> Awesome features to help you succeed </p>

    <div class="feature-icons">
        <img src="{{ url_for('static', filename='images/pomodoro-feature.png') }}"
             alt="Pomodoro"
             class="featureimg">

        <img src="{{ url_for('static', filename='images/taskmanagement-feature.png') }}"
             alt="Task management"
             class="featureimg">

        <img src="{{ url_for('static', filename='images/progress-feature.png') }}"
             alt="View Progress"
             class="featureimg">
    </div>
</section>

{% endblock %}
