{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
{% endblock %}

{% block body %}
<div class="page">

    <div class="form">
        <h1 style="text-align:center; color:#482d6f; margin-bottom:20px;">
            Create your account
        </h1>

        <form method="POST" autocomplete="off" class="form-register">
            {{ form.hidden_tag() }}

            <!-- Username -->
            <div class="input-group">
                <i class="fa-solid fa-user"></i>
                {{ form.username(
                    placeholder="Username",
                    class_="form-input"
                )}}
                {% for error in form.username.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>

            <!-- Email -->
            <div class="input-group">
                <i class="fa-solid fa-envelope"></i>
                {{ form.email(
                    placeholder="Email",
                    class_="form-input"
                )}}
                {% for error in form.email.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>

            <!-- Password -->
            <div class="input-group">
                <i class="fa-solid fa-lock"></i>
                {{ form.password(
                    placeholder="Password",
                    autocomplete="new-password",
                    class_="form-input"
                )}}
                {% for error in form.password.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>

            <!-- Confirm Password -->
            <div class="input-group">
                <i class="fa-solid fa-lock"></i>
                {{ form.confirm_password(
                    placeholder="Confirm Password",
                    autocomplete="new-password",
                    class_="form-input"
                )}}
                {% for error in form.confirm_password.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>

            <!-- Submit -->
            {{ form.submit(class_="submit-btn") }}
        </form>
    </div>

</div>
{% endblock %}
